.navbar {
  width: 100%;
  height: 10vh;
  background-color: rgb(226, 238, 247);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #a3a0a0;
}

.href {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.href a {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  color: #424242;
  text-decoration: none;
}
.href i {
  display: none;
}
.href a:hover {
  color: black;
}
.logo {
  padding-left: 30px;
  font-size: 2.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 870px) {
  .href a {
    display: none;
  }
  .href i {
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    color: rgb(86, 141, 183);
  }
}
